In [1]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('demographie.csv')

In [90]:
df.head()

,Unnamed: 0,ville,lien,Population,Densité de population,Nombre de ménages,Habitants par ménage,Nombre de familles,Naissances,Décès,...,nbre immigrés (2008),nbre immigrés (2009),nbre immigrés (2010),nbre immigrés (2011),nbre immigrés (2012),nbre immigrés (2013),nbre immigrés (2014),nbre immigrés (2015),nbre immigrés (2016),nbre immigrés (2017)
0,0,L'Abergement-Clémenciat (01400),/management/ville/l-abergement-clemenciat/vill...,771.0,48.0,315.0,2.5,238.0,4.0,6.0,...,20.0,29.0,29.0,29.0,29.0,29.0,20.0,20.0,20.0,20.0
1,1,Serbannes (03700),/management/ville/serbannes/ville-03271,812.0,57.0,362.0,2.3,275.0,12.0,6.0,...,16.0,16.0,16.0,16.0,17.0,17.0,17.0,17.0,17.0,23.0
2,2,Montgobert (02600),/management/ville/montgobert/ville-02506,194.0,17.0,80.0,2.4,70.0,3.0,2.0,...,6.0,7.0,7.0,7.0,7.0,7.0,12.0,12.0,12.0,12.0
3,3,La Fare-en-Champsaur (05500),/management/ville/la-fare-en-champsaur/ville-0...,434.0,42.0,165.0,2.7,79.0,3.0,26.0,...,13.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,4,Villeret (02420),/management/ville/villeret/ville-02808,295.0,75.0,121.0,2.5,80.0,1.0,3.0,...,4.0,2.0,2.0,2.0,2.0,2.0,6.0,6.0,6.0,6.0

In [92]:
df['ville'] = df['ville'].str.replace('(', ' (', regex=True)

In [85]:
df.dtypes

Unnamed: 0                                        int64
ville                                            object
lien                                             object
Salaire moyen des cadres                        float64
Salaire moyen des professions intermédiaires    float64
Salaire moyen des employés                      float64
Salaire moyen des ouvriers                      float64
Salaire moyen des femmes                        float64
Salaire moyen des hommes                        float64
Salaire moyen des moins de 26 ans               float64
Salaire moyen des 26-49 ans                     float64
Salaire moyen des 50 ans et plus                float64
Revenu mensuel moyen par foyer fiscal           float64
Nombre de foyers fiscaux                        float64
Nombre moyen d'habitant(s) par foyer            float64
2006                                            float64
2007                                            float64
2008                                            float64
2009                                            float64
2010                                            float64
2011                                            float64
2012                                            float64
2013                                            float64
2014                                            float64
2015                                            float64
dtype: object

In [55]:
colonnes
for col in colonnes:
    df[col] = df[col].str.replace('\s+','', regex=True)

In [81]:
# changer les nc par NaN
for col in list(df.columns):
    if col != 'ville' and col != 'lien':
        df.loc[df[col].astype(str).str.contains('nc', na=False), col] = np.nan

In [80]:
for col in list(df.columns):
    if col != 'ville' and col != 'lien':
        df[col] = df[col].astype(float)

ValueError: could not convert string to float: '2B321'

In [58]:
df.dtypes

ville                     object
lien                      object
Population               float64
Densité de population    float64
Nombre de ménages        float64
                          ...
nbre immigrés (2013)     float64
nbre immigrés (2014)     float64
nbre immigrés (2015)     float64
nbre immigrés (2016)     float64
nbre immigrés (2017)     float64
Length: 125, dtype: object

In [59]:
df.to_csv("demographie.csv")

In [60]:
df1 = pd.read_csv("demographie.csv")

In [61]:
df1.dtypes

Unnamed: 0                 int64
ville                     object
lien                      object
Population               float64
Densité de population    float64
                          ...
nbre immigrés (2013)     float64
nbre immigrés (2014)     float64
nbre immigrés (2015)     float64
nbre immigrés (2016)     float64
nbre immigrés (2017)     float64
Length: 126, dtype: object